/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp DE_N1  &kp DE_N2  &kp DE_N3  &kp DE_N4  &kp DE_N5  &kp DE_MINUS                                   &kp DE_ACUTE    &kp DE_N6       &kp DE_N7        &kp DE_N8     &kp DE_N9   &kp DE_N0
&kp DE_Q   &kp DE_W   &kp DE_E   &kp DE_R   &kp DE_T   &kp custom_less_then                           &kp DE_PLUS     &kp DE_Z        &kp DE_U         &kp DE_I      &kp DE_O    &kp DE_P
&kp DE_A   &kp DE_S   &kp DE_D   &kp DE_F   &kp DE_G   &kp ESC                                        &kp DE_HASH     &kp DE_H        &kp DE_J         &kp DE_K      &kp DE_L    &tog 1
&kp DE_Y   &kp DE_X   &kp DE_C   &kp DE_V   &kp DE_B   &kp LEFT_CONTROL  &kp DELETE    &kp UP_ARROW   &kp DOWN_ARROW  &kp DE_N        &kp DE_M         &kp DE_COMMA  &kp DE_DOT  &kp DE_ESZETT
                                 &kp LALT   &kp LGUI   &kp LEFT_SHIFT    &kp ENTER     &kp BACKSPACE  &kp DE_SPACE    &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        second_layer {
            bindings = <
&trans           &trans  &trans  &trans  &trans  &trans                        &trans  &trans  &trans           &trans  &trans           &trans
&trans           &trans  &trans  &trans  &trans  &trans                        &trans  &trans  &kp DE_U_UMLAUT  &trans  &kp DE_O_UMLAUT  &trans
&kp DE_A_UMLAUT  &trans  &trans  &trans  &trans  &trans                        &trans  &trans  &trans           &trans  &trans           &trans
&trans           &trans  &trans  &trans  &trans  &trans      &trans    &trans  &trans  &trans  &trans           &trans  &trans           &trans
                                 &trans  &trans  &caps_word  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};


&custom_less_then {
    bindings = <&kp NUBS>; // Outputs `<`
    when-pressed = <&kp NUBS>;
    when-shifted = <&kp LABK>;   // Outputs `>`
    when-alted = <&kp PIPE>;     // Outputs `|`
};
